* 무료로 공부할 수 있는 파이썬 온라인 자료
* [The Python Tutorial — Python documentation](https://docs.python.org/3/tutorial/index.html)
* [점프 투 파이썬 - WikiDocs](https://wikidocs.net/book/1)
* [강좌: 파이썬 코딩 도장](https://dojang.io/course/view.php?id=7)

In [1]:
# 현재 주피터 노트북이 있는 경로
%pwd

'C:\\Users\\82109\\Desktop\\nano_python'

## Zen of Python
* 파이썬의 철학이 잘 담겨있는 Zen of Python 을 출력해 봅니다.
* import를 통해 파이썬의 라이브러리나 패키지를 가져올 수 있습니다.

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## boolean
* 파이썬에는 명시적인 것이 암시적인 것보다 낫다라는 철학이 있습니다.
* True나 False는 0과 1로도 표현할 수 있으나 명시적으로 표현하기 위해 True와 False를 사용합니다.

In [3]:
# True를 출력해 보세요.
True

True

In [4]:
# False 를 출력해 보세요.
False

False

In [23]:
# True는 1과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때 == 연산을 사용합니다.
print(True==1)
print(True=="1")

True
False

In [6]:
# False는 0과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때 == 연산을 사용합니다.
False==0

True

In [11]:
# 하지만 True는 문자 1과는 다릅니다. 1을 따옴표로 감싸면 문자열이 됩니다.
True=="1"

False

In [12]:
# 문자열 1과 True는 다릅니다.
True != "1"

True

In [15]:
# False 도 마찬가지 입니다. 
False !="1"

True

In [14]:
# 문자열 0과 False는 다릅니다.
False !="0"

True

In [16]:
# and 연산으로 True 값 끼리 비교합니다.
# and 는 모든 값이 True 일때만 True 가 됩니다.
True and True

True

In [17]:
# and 는 조건 중 하나라도 False 라면 False가 됩니다.
True and False

False

In [18]:
# or 는 하나만 True 라도 True가 됩니다.
True or False

True

In [24]:
# True == 1, False == 0 과 같기 때문에 연산을 할 수 있습니다.
True+False

1

## 숫자
* 숫자 1과 문자 "1"은 다릅니다. 숫자1과 문자1의 데이터 타입을 출력해 보세요.
* 데이터 타입을 표현할 때 type을 통해 데이터를 출력합니다.

In [25]:
# 숫자 1을 출력해 보세요.
1

1

In [26]:
# 문자 1을 출력해 보세요.
"1"

'1'

In [27]:
# 숫자 1의 데이터 타입을 출력해 보세요.
type(1)

int

In [28]:
# 문자 1의 데이터 타입을 출력해 보세요.
type("1")

str

In [29]:
# 문자 1과 숫자 1을 비교합니다.
type("1")==type(1)

False

## 변수
* 숫자로 시작할 수 없습니다.
* 언더바(_)를 제외한 특수문자를 사용할 수 없습니다.

|연산자|기능|
|--|--|
| == | 비교연산 |
| = | 할당연산 |

In [32]:
a=1

In [63]:
a=a+1
a

29

In [71]:
b=a+1

In [72]:
#비교
a==b

False

In [73]:
for i in range(1,10):
    for j in range(i):
        print("*",end="")
    print("")

*
**
***
****
*****
******
*******
********
*********

## 문자열
* https://docs.python.org/3/tutorial/introduction.html#strings

In [74]:
# "Hello World!" 를 출력해 봅니다.
"Hello World"

'Hello World'

In [75]:
# til 이라는 변수에 문자열을 담아봅니다.
til="Today I Learned"

In [76]:
# 소문자로 만들어 보세요.
til.lower()

'today i learned'

In [77]:
# 대문자로 만들어 보세요.
til.upper()

'TODAY I LEARNED'

In [79]:
# 주소 "서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층" 을 출력해 봅니다.
"서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층"

'서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층'

In [80]:
# 주소를 address 변수에 담습니다.
address=" 서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층"

In [90]:
# strip 메소드를 사용해 공백을 제거합니다.
address.strip() # 앞뒤 공백 제거
#()안에서 shift tab 키를 누르면 도움말 볼수있다.
#? 도움말
# ?? 소스코드

'서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층'

In [89]:
addtrss.strip??

Object `addtrss.strip` not found.

### 문자열의 인덱싱과 슬라이싱

In [92]:
# 인덱싱으로 문자 가져오기
til[0]

'T'

In [95]:
# 인덱싱으로 문자 가져오기
#[시작 인덱스:끝 인덱스+1]
til[:5]

'Today'

In [94]:
# 슬라이싱으로 문자 가져오기
til[-1]

'd'

In [98]:
til[8:]

'Learned'

In [99]:
til[-7:]

'Learned'

## 리스트

* https://docs.python.org/3/tutorial/introduction.html#lists

In [100]:
# 비어있는 리스트를 만듭니다.
[]

[]

In [101]:
# 소화제, 감기약을 원소에 추가합니다.
["소화제","감기약"]

['소화제', '감기약']

In [102]:
# medicine 라는 변수에 해열제를 담아봅니다.
medicine = ["소화제", "감기약 ", "비타민", "해열제"]

### 리스트에 원소 추가 삭제하기

In [108]:
# append 로 "마그네슘" 원소 추가하기
medicine.append("마그네슘")
medicine

['소화제', '감기약 ', '비타민', '해열제', '마그네슘']

In [109]:
# remove 로 원소 삭제하기
medicine.remove("마그네슘")
medicine

['소화제', '감기약 ', '비타민', '해열제']

### 리스트의 인덱싱

In [110]:
# medicine 라는 변수에 담겨있는 소화제를 인덱싱을 통해 가져옵니다.
medicine[0]

'소화제'

In [111]:
# 1번 인덱스를 가져옵니다.
medicine[1]

'감기약 '

In [112]:
# 마지막 인덱스를 가져옵니다.
medicine[-1]

'해열제'

### 문자열을 리스트로 만들기

In [119]:
# split을 사용해 address를 공백으로 문자열 분리하고 address_list 라는 변수에 담습니다.
address_list=address.split()
address_list

['서울특별시', '강남구', '역삼동', '강남대로94길', '15', 'S2빌딩', '3층']

In [120]:
# 문자열의 길이
len(address)

33

In [121]:
# 리스트의 길이
len(address_list)

7

In [122]:
# 인덱싱으로 서울특별시만 가져옵니다.
address_list[0]

'서울특별시'

In [123]:
# 인덱싱으로 강남구만 가져옵니다.
address_list[1]

'강남구'

In [125]:
# 슬라이싱으로 "강남구" 만 가져오기
# [시작인덱스:끝나는인덱스+1]
address_list[1:2]

['강남구']

In [126]:
# 슬라이싱으로 "강남구" 만 가져오기
# [시작인덱스:끝나는인덱스+1]
address[7:10]

'강남구'

In [128]:
# startswith 를 사용하면 특정 문자로 시작하는지 여부를 확인할 수 있습니다.
address=address.strip()

In [129]:
address #공백 제거

'서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층'

In [132]:
address.startswith(" 서울")

False

In [133]:
address.startswith("서울")

True

### 문자열과 리스트의 in

In [134]:
# in 을 사용하게 되면 특정 문자열을 포함하고 있는지 여부를 확인할 수 있습니다.
"서울" in address

True

In [136]:
# in 을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "서울특별시"가 리스트에 포함되는지 봅니다.
"서울특별시" in address_list

True

In [137]:
# in 을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "서울특별시"가 리스트에 포함되는지 봅니다.
"서울" in address_list

False

In [138]:
# in 을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "강남구"가 리스트에 포함되는지 봅니다.
"강남구" in address

True

In [143]:
# " ".join(리스트) 를 사용하면 리스트를 공백 문자열을 연결할 수 있습니다.
# 리스트로 분리된 문자열을 다시 연결합니다.
# add 

print("".join(address_list))

서울특별시강남구역삼동강남대로94길15S2빌딩3층

## 딕셔너리
* https://docs.python.org/3/tutorial/datastructures.html#dictionaries

In [144]:
type({})

dict

In [149]:
phone = {'서울' : '02',
         '경기': '031',
         '인천': '032',
         '대전': '042',
         '부산': '051',
         '울산': '052',
         '대구': '053',
         '광주': '062'}

In [152]:
# "서울" 의 값 가져오기
phone["서울"]

'02'

In [153]:
# "경기" 의 값 가져오기
phone["경기"]

'031'

In [158]:
# "제주" : 063 을 딕셔너리에 추가하기
phone["제주"]="063"
phone

{'서울': '02',
 '경기': '031',
 '인천': '032',
 '대전': '042',
 '부산': '051',
 '울산': '052',
 '대구': '053',
 '광주': '062',
 '제주': '063'}

In [161]:
phone.keys()

dict_keys(['서울', '경기', '인천', '대전', '부산', '울산', '대구', '광주', '제주'])

In [162]:
phone.values()

dict_values(['02', '031', '032', '042', '051', '052', '053', '062', '063'])

##  제어문
* 조건문(if)
* 반복문(for, while)
* [4. More Control Flow Tools — Python documentation](https://docs.python.org/3/tutorial/controlflow.html)

In [166]:
# range를 사용하면 for문의 반복수를 지정할 수 있습니다.
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [169]:
i=8
if i%2==0:
    print("짝수")
else:
    print("홀수")

짝수

In [170]:
# range 를 사용해 5번 for문을 반복하도록 하고 인덱스 번호가 짝수일 때 소화제 홀수 일 때 해열제를 출력하도록 합니다.
for i in range(5):
    if i%2==0:
        print(i,"소화제")
    else:
        print(i,"해열제")

0 소화제
1 해열제
2 소화제
3 해열제
4 소화제

In [171]:
# 반복문을 통해 medicine이라는 변수에 담긴 리스트의 원소를 하나씩 출력합니다.
for i in medicine:
    print(i)

소화제
감기약
비타민
해열제

In [176]:
# 위 코드에서 소화제일 때는 그대로 출력하고 나머지 텍스트는 "기타"라고 출력합니다
# 출력 결과가 아래의 순서로 나오도록 합니다.
# 소화제
# 기타
# 기타
# for 변수명 in 리스트명:'
for i in medicine:
    if i == "소화제":
        print(i)
    else:
        print("기타")

소화제
기타
기타
기타

In [177]:
# store 변수에 지점명을 담아줍니다.
store=["서울역점", "강남점", "마포점", "여의도점"]

In [178]:
# 지점별로 print문을 통해 출력해 봅니다.
for m in store:
    print(m)

서울역점
강남점
마포점
여의도점

In [179]:
# enumerate를 사용하면 인덱스 번호와 원소를 같이 가져올 수 있습니다.
for s in enumerate(store):
    print(s)

(0, '서울역점')
(1, '강남점')
(2, '마포점')
(3, '여의도점')

In [188]:
# enumerate를 사용하면 인덱스 번호와 원소를 같이 가져올 수 있습니다.
for i,s in enumerate(store):
    print("i=",i,"s=",s)

i= 0 s= 서울역점
i= 1 s= 강남점
i= 2 s= 마포점
i= 3 s= 여의도점

In [182]:
type((0, '서울역점'))
#튜플은 추가 삭제 불가능
#리스트는 추가 삭제 가능

tuple

### 응용
*  딕셔너리의 결과가 아래와 같이 나오도록 아래의 문자열을 변경해 보세요.
```
{'경기': '031',
 '강원': '033',
 '충남': '041',
 '충북': '043',
 '경북': '054',
 '경남': '055',
 '전남': '061',
 '전북': '063'}
```

In [218]:
# 아래의 문자를 딕셔너리 형태로 변경하기
phone = ">경기 031 >강원 033 >충남 041 >충북 043 >경북 054 >경남 055 >전남 061 >전북 063"
# ">" 문자를 기준으로 문자열을 나눕니다.
# phone_split
phone_dict={}

In [220]:
for i in phone.split(">"):
    if len(i)>0:
        key=i.split()[0]
        value=i.split()[1]
        phone_dict[key]=value

In [221]:
phone_dict

{'경기': '031',
 '강원': '033',
 '충남': '041',
 '충북': '043',
 '경북': '054',
 '경남': '055',
 '전남': '061',
 '전북': '063'}

In [213]:
type(b)

str

## 함수

In [248]:
date = "2020.11.01"
type(date.split("."))

list

In [242]:
# ctrl(cmd)+/
def parse_month(date):
    """월을 반환하는 함수"""
    month=date.split(".")[1]
    return month

In [243]:
parse_month(date)

'11'

In [244]:
phone_num="02-123-1234"

def parse_phone(phone_num):
    """전화번호의 국번을 반환하는 함수"""
    a=phone_num.split("-")[0]
    return a

In [245]:
parse_phone(phone_num)

'02'